*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
  .background {
    background: url('./images/mustang.jpg')
    no-repeat center center/cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);
  }
  
  .loading-text {
    font-size: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    overflow: hidden;
  }

  .content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    margin: 100px 80px;
    padding: 15px;
    background-color: rgba(35, 35, 35, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 7px;
  }

  .content h1, p {
    color: #FFF5CF;
    font-size: 20px;
    text-shadow: 3px 3px 12px #404040;
  }

  .content h1 {
    font-size: 40px;
  }

  .back-container {
    position: absolute;
    bottom: 10px;
    width: 90vw;
}

.back-container h6 {
    color:#FFF5CF !important;
    text-shadow: 3px 3px 10px #404040;
}

@media (width <= 500px) {
    .content {
        width: 200px;
    }

    .back-container {
        margin: 0 20px 10px !important;
    }
}